@charset "utf-8";

/* Box Sizing Reset */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend, 
.heading {
  font-weight: 1000;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  background: rgb(225,231,239);
  background: linear-gradient(0deg, #f93116 0%, #fec751 100%); 
  background-repeat: no-repeat;
}

form {
  background-color: white;
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2%;
  padding: 2rem;
  position: relative;
}

fieldset {
  margin-left: .5rem;
  border: none;
  border-top: 1px solid black;
  width: 100%;
}
legend {
  margin: 1rem 0;
}

.text-width {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #e8eeef;
  border: none;
  padding: .5rem;
}

.text-width:focus {
  background-color: white;
  border: 3px solid #fec751;
}

.display-flex {
  display: grid;
  grid-template-columns: 125px 125px 125px;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.account-info {
  padding: 0.5rem;
  margin-bottom: -1rem;
}

#account-heading {
  margin-bottom: -1rem;
}

.signUp {
  color: #052f63;
  margin-bottom: 1rem;
  padding-bottom: .3rem;
  max-width: 6rem;
  text-shadow: 1px 1px 1px black;
  border-bottom: 3px solid #153c6d;
  line-height: 2rem;
  font-size: 2em;
  font-weight: 1500;
}

.number {
  display: inline-block;
  text-align: center;
  line-height: 2.2rem;
  width: 35px;
  height: 35px;
  background-color:  #153c6d;
  border-radius: 50%;
  color: white;
  font-size: small;
}

.section {
  margin-left: -0.75rem;
}

.left-button {
  margin-left: -0.25rem;
}



.please-select {
  padding: 0.5rem;
  color: #939fa7
}

#submit {
  margin-top: -1.5rem;
  color: white;
  font-weight: 600;
  padding: .75rem;
  width: 100%;
  border-radius: 5px;
  background-color: #153c6d;
  border: none;
}

#clear {
  margin-top: 1.5rem;
  color: #ff0000;
  border-radius: 5px;
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  border: 1px solid lightgray;
}
